{% extends 'base.html.twig' %}

{% block title %}Brands index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Brands</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary float-right pull-right mt-1" href="{{ path('brands_new') }}">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Brand Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for brand in brands %}
            <tr>
                <td>{{ brand.brandName }}</td>
                <td>{{ brand.brandUrl }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('brands_show', {'id': brand.id}) }}">Show</a>
                    <a class="btn btn-primary" href="{{ path('brands_edit', {'id': brand.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
