{% extends 'base.html.twig' %}

{% block title %}Website{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class="alert alert-success flash-message alert-dismissible" role="alert">
            <button type="button" class="flash-message-close close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
            <div class="alert alert-danger flash-message alert-dismissible" role="alert">
            <button type="button" class="flash-message-close close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
                {{ message }}
            </div>
    {% endfor %}
    <h1>Website - {{ website.websiteName }}</h1>
    <h5> ({{ website.websiteUrl }}) </h5>
    <hr>
    
    {{ form_start(form, {attr: {novalidation: 'novalidation'}}) }}

    <div class="form-row">
        <div class="col-4">
            {{ form_widget(form.brand) }}
        </div>
        <div class="col-4">
            {{ form_widget(form.category) }}
        </div>
        <div class="col-4">
            {{ form_row(form.retrieve) }}
        </div>
    </div>
     
    {{ form_end(form) }}
    <hr>
    <div class="row">
        {% if website.categories | length > 0 %}
            <div class="col-6">
                <h3>Website categories</h3>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Category Url(click to visit site)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in website.categories %}
                        <tr>
                            <td>{{ category.categoryName }}</td>
                            <td><a class="btn btn-link" href="{{ category.categoryUrl }}">{{ category.categoryUrl }}</a></td>
                            <td><a class="btn btn-sm btn-link" href="{{ path('category_crawl_data', {'id': category.id}) }}">Retrieve data</a></td>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if website.brands | length > 0 %}
            <div class="col-6">
                <h3>Website brands</h3>
                <table class="table table-sm table-bordered">
                    <thead>
                        <tr>
                            <th>Brand</th>
                            <th>Brand Url(click to visit site)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for brand in website.brands %}
                        <tr>
                            <td>{{ brand.brandName }}</td>
                            <td><a href="{{ brand.brandUrl }}">{{ brand.brandUrl }}</a></td>
                            <td><a class="btn btn-sm btn-link" href="{{ path('brand_crawl_data', {'id': brand.id}) }}">Retrieve data</a></td>
                        <tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>



    <a href="{{ path('website_index') }}">back to list</a>

    <a href="{{ path('website_edit', {'id': website.id}) }}">edit</a>

    {# include('website/_delete_form.html.twig') #}

    <script>
    
    $(".flash-message-close").click(function () {
        $(this).parent().remove();
    })
    </script>

{% endblock %}
