{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Categories</h1>
        </div>
        <div class="col">
            <a class="btn btn-primary float-right mt-1" href="{{ path('categories_new') }}">Create new</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Category Url</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.categoryName }}</td>
                    <td>{{ category.categoryUrl }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('categories_show', {'id': category.id}) }}">Show</a>
                        <a class="btn btn-primary" href="{{ path('categories_edit', {'id': category.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
