{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Category_name</th>
                <td>{{ category.categoryName }}</td>
            </tr>
            <tr>
                <th>Category_url</th>
                <td>{{ category.categoryUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('categories_edit', {'id': category.id}) }}">Edit</a>
    <a class="btn btn-dark" href="{{ path('categories_index') }}">Back to list</a>

    {{ include('categories/_delete_form.html.twig') }}
{% endblock %}
